---
title: Aron Jasso | Portfolio
---

.line
  .size1of1.text-center
    .box
      h1 Hello, my name is Aron.
      h1 I craft beautiful experiences.
      h3 Aron Jasso - a UI designer & front-end developer from Texas

.line
  .size1of2
    a.box href='/socialrest.html'
      = image_tag 'socialrest-thumb@2x.png'
      .box_title SocialRest

  .size1of2
    a.box href='/sharespace.html'
      = image_tag 'sharespace-thumb@2x.png'
      .box_title ShareSpace

  .size1of2
    a.box href='/cathieadams.html'
      = image_tag 'CathieAdams@2x.png'
      .box_title Cathie Adams

  .size1of2
    a.box href='/trailmarker.html'
      = image_tag 'trailmarker-thumb@2x.png'
      .box_title Trailmarker

.line
  .size1of1.text-center
    .box
      h2 More Coming Soon
