body {
  color: #000000;
  font-family: 'Baskerville', serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4;
}

h1 {
  margin: 0 0 10px;
  color: $red;
  font-family: 'BrandonGrotesque', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 60px;
  font-weight: 600;
}

h2 {
  color: $red;
  font-family: 'BrandonGrotesque', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: 600;
}

h3 {
  color: #B0BACB;
  font-family: 'Baskerville', serif;
  font-size: 16px;
  font-weight: 400;
}



p { margin: 0 0 20px; }

a {
  color: $red;
  text-decoration: none;
  &:visited { color: $red; }
  &:hover { color: #000000; }
}

ul.links li {
  display: inline-block;
  margin-right: 10px;
}

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

@media only screen and (max-width: 790px) {
  h1 {
    font-size: 32px;
  }
}
